In [1]:
import os
from os import chdir
from glob import glob
import pandas as pd
import csv git cl
import numpy as np

----
### Import CSV files

In [2]:

citi_bike_jun24 = pd.read_csv('/Users/jelenaraonic/UofTBootcamp/Homework/CITI_BIKE-CHALLENGE-18/Resources/JC-202406-citibike-tripdata.csv')

----
### Explore data June 2024

In [3]:
citi_bike_jun24.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F9FB3CE11ED23849,electric_bike,2024-06-01 14:14:05.636,2024-06-01 14:23:22.715,Oakland Ave,JC022,Hamilton Park,JC009,40.737583,-74.052306,40.727596,-74.044247,member
1,A2E8CFCCD4895D09,electric_bike,2024-06-09 20:40:09.263,2024-06-09 21:00:58.479,Oakland Ave,JC022,Washington St,JC098,40.737555,-74.052441,40.724294,-74.035483,casual
2,10CE457D6A694BA5,classic_bike,2024-06-09 08:11:40.035,2024-06-09 08:23:22.790,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737604,-74.052478,40.735938,-74.030305,casual
3,CC23E216CED642D8,electric_bike,2024-06-20 16:45:05.945,2024-06-20 16:54:39.220,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737493,-74.052295,40.735938,-74.030305,member
4,890DB2D549468FB0,electric_bike,2024-06-25 10:01:29.832,2024-06-25 10:12:10.936,Oakland Ave,JC022,Oakland Ave,JC022,40.737599,-74.052386,40.737604,-74.052478,member

In [4]:
citi_bike_jun24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113669 entries, 0 to 113668
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             113669 non-null  object
 1   rideable_type       113669 non-null  object
 2   started_at          113669 non-null  object
 3   ended_at            113669 non-null  object
 4   start_station_name  113668 non-null  object
 5   start_station_id    113668 non-null  object
 6   end_station_name    113243 non-null  object
 7   end_station_id      113222 non-null  object
 8   start_lat           113669 non-null  float64
 9   start_lng           113669 non-null  float64
 10  end_lat             113614 non-null  float64
 11  end_lng             113614 non-null  float64
 12  member_casual       113669 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.3+ MB

In [5]:
citi_bike_jun24.shape

(113669, 13)

In [6]:
citi_bike_jun24.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      1
start_station_id        1
end_station_name      426
end_station_id        447
start_lat               0
start_lng               0
end_lat                55
end_lng                55
member_casual           0
dtype: int64

In [7]:
citi_bike_jun24.dropna(how='all',subset=['start_station_name', 'start_station_id'], inplace=True)

In [8]:
citi_bike_jun24.dropna(how='all',subset=['end_station_name','end_station_id'], inplace=True)

In [9]:
citi_bike_jun24.dropna(how='all',subset=['end_lng', 'end_lat'], inplace=True)

In [10]:
citi_bike_jun24.isnull().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name       0
end_station_id        21
start_lat              0
start_lng              0
end_lat                0
end_lng                0
member_casual          0
dtype: int64

In [11]:
citi_bike_jun24 = citi_bike_jun24.dropna(how='any')

In [13]:
citi_bike_jun24.count()

ride_id               113221
rideable_type         113221
started_at            113221
ended_at              113221
start_station_name    113221
start_station_id      113221
end_station_name      113221
end_station_id        113221
start_lat             113221
start_lng             113221
end_lat               113221
end_lng               113221
member_casual         113221
dtype: int64

In [14]:
citi_bike_jun24['started_at'] = pd.to_datetime(
    citi_bike_jun24['started_at'],
    errors='coerce',
    infer_datetime_format=True
)

/var/folders/bb/58xtq6zd03z6j840hj_gdn9h0000gn/T/ipykernel_39248/3245643417.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  citi_bike_jun24['started_at'] = pd.to_datetime(

In [15]:
citi_bike_jun24['ended_at'] = pd.to_datetime(
    citi_bike_jun24['ended_at'],
    errors='coerce',
    infer_datetime_format=True
)

/var/folders/bb/58xtq6zd03z6j840hj_gdn9h0000gn/T/ipykernel_39248/4016549064.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  citi_bike_jun24['ended_at'] = pd.to_datetime(

In [16]:
citi_bike_jun24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113221 entries, 0 to 113668
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             113221 non-null  object
 1   rideable_type       113221 non-null  object
 2   started_at          113221 non-null  datetime64[ns]
 3   ended_at            113221 non-null  datetime64[ns]
 4   start_station_name  113221 non-null  object
 5   start_station_id    113221 non-null  object
 6   end_station_name    113221 non-null  object
 7   end_station_id      113221 non-null  object
 8   start_lat           113221 non-null  float64
 9   start_lng           113221 non-null  float64
 10  end_lat             113221 non-null  float64
 11  end_lng             113221 non-null  float64
 12  member_casual       113221 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 12.1+ MB

In [17]:
citi_bike_clean = citi_bike_jun24

In [18]:
citi_bike_clean.to_csv('citi_bike.csv', index=False)